/********************************************/
/*			TEMPLATE SINGLE ARTICLE			*/
/********************************************/
aside.article-share {
	width: 75px; 

	position: fixed;
	top: 200px;

	z-index: 1;
	
	background-color: #f2f2f2;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

aside.article-share.top { top: calc(50% - 106.5px); }
aside.article-share.left { left: -75px; }


	aside.article-share p {
		width: 100%;

		display: block;

		padding: 0 20px;
		margin: 20px 0 10px 0;

		text-transform: uppercase;
		text-align: center;
		color: #000;
		
		font-family: 'Oswald', sans-serif;
		font-size: 10px;
		font-weight: bold;
		
		line-height: 14px;
		letter-spacing: 1.5px;
	}

	aside.article-share ul {
		width: 100%;

		padding: 0;
		margin: 0;

		display: block;
		position: relative;
	}

		aside.article-share ul li {
			width: 40px;
			height: 40px;
	
			padding: 0;
			margin: 0 auto 10px auto;
			
			display: block;
			position: relative;

			background-size: 15px;
			background-position: center;
			background-repeat: no-repeat;
		}

			aside.article-share ul li:last-child { margin: 0 auto 15px auto; }

			aside.article-share ul li.facebook { 
				background-color: #3b5998;
				background-image: url('../images/icon-share-facebook.png'); 
			}
			aside.article-share ul li.twitter { 
				background-color: #44ccff;
				background-image: url('../images/icon-share-twitter.png'); 
			}
			aside.article-share ul li.email { 
				background-color: #dd3400;
				background-image: url('../images/icon-share-email.png'); 
			}

			aside.article-share ul li a {
				width: 100%;
				height: 100%;

				display: block;
				position: relative;
			}

@media (min-width: 992px) {
	aside.article-share {
 		left: calc(50% - 470px);
	}
}

@media (min-width: 1200px) {
	aside.article-share {
 		left: calc(50% - 570px);
	}
}


section.single-article { padding-bottom: 90px; }
		
	section.single-article .relative { position: relative; }

	section.single-article:before {  
		content: "";
		
		width: 1px;
		height: 30px;
		
		padding: 0;
		margin: 0 auto 30px auto;
		
		display: block;
		background-color: #000;
	}

	section.single-article header {
		width: 100%;
		display: block;
		float: left;

		margin-bottom: 26px;
	}

	section.single-article header.label-gallery { margin-bottom: 0; }

		section.single-article header p {
			width: auto;

			display: block;
			float: left;
			position: relative;
			
			padding: 0;
			margin: 0;

			left: 50%;
		
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			
			font-family: 'Open Sans', sans-serif;
			font-size: 10px;
			font-weight: bold;
			
			line-height: 8px;
			letter-spacing: 1px;

			-webkit-transform: translateX(-50%);
			    -ms-transform: translateX(-50%);
			        transform: translateX(-50%);
		}

			section.single-article header p a { 
				width: auto;
				padding: 10px 15px; 
			}

		section.single-article header.label-article p { background-color: #3069ce; }
		section.single-article header.label-video p { background-color: #b846cc; }
		section.single-article header.label-infographic p { background-color: #f4b941; }
		section.single-article header.label-gallery p { background-color: #b5393e; }

		section.single-article header time {
			width: 100%;
			display: block;
			float: left;
			
			padding: 0;
			margin: 27px 0 5px 0;
			
			text-transform: uppercase;
			text-align: center;
			color: #999999;
			
			font-family: 'Open Sans', sans-serif;
			font-size: 12px;
			font-weight: normal;
			
			line-height: normal;
			letter-spacing: 2px;
		}

		section.single-article header h1 {
			width: 100%;
			display: block;
			float: left;

			padding: 0;
			margin: 0;

			text-transform: uppercase;
			text-align: center;
			color: #000;
			
			font-family: 'Oswald', sans-serif;
			font-size: 34px;
			font-weight: normal;
			
			line-height: normal;
			letter-spacing: 1px;
		}

			section.single-article header h1:after {
				content: "";

				width: 20px;
				height: 3px;

				display: block;

				padding: 0;
				margin: 20px auto 30px auto;

				background-color: #000;
			}

		section.single-article header figure {
			width: 100%;
			display: block;
			float: left;

			margin: 0;
		}

			section.single-article header figure img {
				width: 100%;
				display: block;

				margin-top: 0;
				margin-bottom: 15px;
			}

			section.single-article header figure figcaption {
				width: 100%;
				display: block;

				padding: 0;
				margin: 0;
				
				text-align: center;
				color: #777777;
				
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				font-weight: normal;
				
				line-height: normal;
				letter-spacing: normal;
			}

	section.single-article h2 {
		width: 100%;
		display: block;

		padding: 0;
		margin: 35px 0 0 0;

		text-transform: uppercase;
		text-align: center;
		color: #333333;

		font-family: 'Oswald', sans-serif;
		font-size: 18px;
		font-weight: normal;
		
		line-height: normal;
		letter-spacing: normal;
	}

	section.single-article span {
		width: 100%;
		display: block;

		padding: 0;
		margin: 12px 0 22px 0;

		text-align: center;
		color: #777777;

		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: normal;
		
		line-height: normal;
		letter-spacing: normal;
	}

	section.single-article p {
		width: 100%;
		display: block;

		padding: 0;
		margin: 0 0 23px 0;

		text-align: left;
		color: #000;

		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: normal;
		
		line-height: 30px;
		letter-spacing: 0.5px;
	}

		section.single-article figure { width: calc(50% + 45px); }

		section.single-article figure.left {
			float: left;
			margin-left: -45px;
			margin-right: 40px;
		}

		section.single-article figure.right {
			float: right;
			margin-right: -45px;
			margin-left: 40px;
		}

			section.single-article figure img { 
				width: 100%;
				display: block;
				margin-top: 8px;
				margin-bottom: 15px;
			}
			
			section.single-article figure figcaption { 
				width: 100%;
				display: block;

				padding: 0;
				margin: 0;
				
				text-align: center;
				color: #777777;
				
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				font-weight: normal;
				
				line-height: normal;
				letter-spacing: normal;
			}	

	section.single-article blockquote {
		width: 100%;
		display: block;

		padding: 0;
		margin: 0 0 23px 0;

		text-transform: uppercase;
		text-align: left;
		color: #333333;
		
		font-family: 'Oswald', sans-serif;
		font-size: 26px;
		font-weight: normal;
		
		line-height: 36px;
		letter-spacing: 1.5px;

		border: none;
	}

	section.single-article ul {
		width: 100%;
		display: block;

		padding: 0;
		margin: 0;

		    list-style-type: disc;
	}

		section.single-article ul li {
			width: 100%;
			display: block;
			position: relative;

			padding: 0 0 0 20px;
			margin: 0;

			text-align: left;
			color: #000;

			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			font-weight: normal;

			line-height: 30px;
			letter-spacing: 0.5px;
		}

			section.single-article ul li:before {
				content: "";

				width: 4px;
				height: 4px;

				position: absolute;
				top: 15px;
				left: 0;

				padding: 0;
				margin: 0;

				border-radius: 50%;

				background-color: #000;
			}

	section.single-article .gallery-big .swiper-pagination {
		position: relative;
		bottom: 0px;
		
		margin-top: 16px;
	}
		section.single-article .gallery-big .swiper-pagination-bullet {
			width: 6px;
			display: inline-block;
		}

	
	section.single-article .gallery-thumbs {
		width: 100%;
		height: 22%;

		padding: 0;
		margin: 0;
	}
	
	section.single-article .gallery-thumbs .swiper-slide {
		width: 25%;
		height: 100%;
		position: relative;
	}

	section.single-article .gallery-thumbs .swiper-slide span {
		width: 100%;
		height: 100%;

		padding: 0;
		margin: 0;

		position: absolute;
		top: 0;
		left: 0;

		cursor: pointer;

		background-color: rgba(0,0,0,0.6);

		-webkit-transition: all 0.2s ease-in-out;
		   -moz-transition: all 0.2s ease-in-out;
		     -o-transition: all 0.2s ease-in-out;
		        transition: all 0.2s ease-in-out;
	}
	
	section.single-article .gallery-thumbs .swiper-slide-active span { background-color: rgba(0,0,0,0); }
		section.single-article .swiper-slide img { width: 100%; }

	section.single-article .gallery-thumbs .swiper-button-prev,
	section.single-article .gallery-thumbs .swiper-button-next {
		width: 40px;
		height: 100%;

		padding: 0;
		margin: 0;

		top: 0;

		background-size: 18px;
		background-position: center;
		background-repeat: no-repeat;

		background-color: #fff;
	}

	section.single-article .swiper-button-prev { 
		left: 0;
		background-image: url('../images/icon-carousel_arrow_left.png'); 
	}
	
	section.single-article .swiper-button-next { 
		right: -1px;
		background-image: url('../images/icon-carousel_arrow_right.png'); 
	}



	section.single-article .tags:before,
	section.single-article .tags:after {
		content: "";

		width: 100%;
		height: 1px;

		display: block;

		padding: 0;
		margin: 0;

		background-color: #e5e5e5;
	}
		section.single-article .tags:before { margin: 51px 0 30px 0; }
		section.single-article .tags:after { margin: 30px 0 34px 0; }

	section.single-article .tags p {
		width: 100%;
		display: block;

		padding: 0;
		margin: 0;

		text-align: left;
		color: #777777;

		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: normal;
		
		line-height: normal;
		letter-spacing: normal;
	}

		section.single-article .tags p span {
			width: auto;
			display: inline-block;

			padding: 0;
			margin: 0 5px;

			text-transform: uppercase;
			text-align: left;
			color: #777777;

			font-family: 'Open Sans', sans-serif;
			font-size: 10.5px;
			font-weight: bold;

			line-height: normal;
			letter-spacing: normal;

			background-color: #e5e5e5;
			border-radius: 20px;

			-webkit-transition: all 0.2s ease-in-out;
			   -moz-transition: all 0.2s ease-in-out;
			     -o-transition: all 0.2s ease-in-out;
			        transition: all 0.2s ease-in-out;
		}

			section.single-article .tags p span:hover { 
				color: #06b3bd; 
				background-color: #eee;
			}

			section.single-article .tags p span a { padding: 10px 18px; }
			section.single-article .tags p span:first-child { margin-left: 10px; }

	section.single-article .share p {
		width: 100%;

		display: block;

		padding: 0;
		margin: 0;

		text-align: center;
		color: #777777;

		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: normal;
		
		line-height: normal;
		letter-spacing: normal;
	}

	section.single-article .share ul {
		width: 100%;
		display: block;

		padding: 0;
		margin: 16px 0 47px 0;

		text-align: center;
	}
		section.single-article .share ul li {
			width: auto;
			display: inline-block;

			padding: 0;
			margin: 0;
		}
			section.single-article .share ul li:nth-child(2) { margin: 0 20px; }

			section.single-article .share ul li:before { display: none; }

			section.single-article .share ul li p a {
				width: 100%;
				display: block;

				padding: 15px 20px;
				margin: 0;

				text-align: left;
				color: #fff;

				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				font-weight: normal;

				line-height: 15px;
				letter-spacing: normal;

				border-radius: 3px;
			}

				section.single-article .share ul li p a:before {
					content: "";
					
					width: 15px;
					height: 15px;

					float: left;

					padding: 0;
					margin: 0;

					background-repeat: no-repeat;
					background-position: center;
					background-size: 15px;
				}

				section.single-article .share ul li.facebook p a { background-color: #3b5998; }
				section.single-article .share ul li.facebook p a:before { 
					margin: 0 5px 0 0;
					background-image: url('../images/icon-share-facebook.png');
				}

				section.single-article .share ul li.twitter p a { background-color: #44ccff; }
				section.single-article .share ul li.twitter p a:before { 
					margin: 0 9px 0 0;
					background-image: url('../images/icon-share-twitter.png'); 
				}

				section.single-article .share ul li.email p a { background-color: #dd3400; }
				section.single-article .share ul li.email p a:before { 
					margin: 0 8px 0 0;
					background-image: url('../images/icon-share-email.png');
				}

	section.single-article .btn-prev-article p,
	section.single-article .btn-next-article p {
		width: 100%;

		display: block;

		padding: 0;
		margin: 0;

		text-transform: uppercase;
		color: #999999;

		font-family: 'Oswald', sans-serif;
		font-size: 14px;
		font-weight: normal;

		line-height: 18px;
		letter-spacing: 0px;
	}

	section.single-article .btn-prev-article p { text-align: left; }
	section.single-article .btn-next-article p { text-align: right; }

		section.single-article .btn-prev-article p a:before,
		section.single-article .btn-next-article p a:after {
			content: "";

			width: 18px;
			height: 18px;

			padding: 0;
			margin: 0;

			background-size: 18px;
			background-position: center;
			background-repeat: no-repeat;
		}

		section.single-article .btn-prev-article p a:before {
			float: left;
			margin: 0 10px 0 0;
			background-image: url('../images/icon-prev-article.png'); 
		}

		section.single-article .btn-next-article p a:after {
			float: right;
			margin: 0 0 0 10px;
			background-image: url('../images/icon-next-article.png'); 
		}

	section.single-article .next-prev-article article {
		width: 100%;
		height: 160px; 
		display: block;
		position: relative;

		margin: 19px 0 0 0;

		background-size: 100%;
		background-position: center;
		background-repeat: no-repeat;
	}

		section.single-article .next-prev-article article header {
			width: 100%;
			height: 100%;

			padding: 30px;
			margin: 0;

			background-color: rgba(0,0,0,0.6);
		}

			section.single-article .next-prev-article article header span {
				width: auto;
				display: block;
				float: left;
				
				padding: 0;
				margin: 0;
				
				text-transform: uppercase;
				text-align: left;
				color: #fff;
				
				font-family: 'Open Sans', sans-serif;
				font-size: 10px;
				font-weight: bold;
				
				line-height: 8px;
				letter-spacing: 1px;
			}

				section.single-article .next-prev-article article header span a { padding: 10px 15px; }

				section.single-article .next-prev-article article header.label-article span a { background-color: #3069ce; }
				section.single-article .next-prev-article article header.label-video span a { background-color: #b846cc; }
				section.single-article .next-prev-article article header.label-infographic span a { background-color: #f4b941; }
				section.single-article .next-prev-article article header.label-gallery span a { background-color: #b5393e; }

			section.single-article .next-prev-article article header h3 {
				width: 100%;
				display: block;
				float: left;

				padding: 0;
				margin: 17px 0 0 0;

				text-transform: uppercase;
				text-align: left;
				color: #fff;

				font-family: 'Oswald', sans-serif;
				font-size: 18px;
				font-weight: normal;
				
				line-height: 24px;
				letter-spacing: 0px;
			}

			






































/************************************************/
/*			TEMPLATE PAGE DESCRIPTION			*/
/************************************************/
section.page-title { background-color: #000; }

	section.page-title .title h2 {
		width: 100%;

		padding: 0;
		margin: 0;

		text-transform: uppercase;
		text-align: left;

		color: #fff;
			
		font-family: 'Oswald', sans-serif;
		font-size: 16px;
		font-weight: 700;
		
		line-height: 60px;
		letter-spacing: 0px;
	}

		section.page-title .title h2:after {
			content: "";

			width: 14px;
			height: 24px;

			display: inline-block;

			padding: 0;
			margin: 0 0 -5px 20px;

			background: url('../images/icon-divider_pagetitle.png');
			background-size: 14px;
			background-position: center;
			background-repeat: no-repeat;
		}

	section.page-title .title p {
		width: 100%;

		padding: 0;
		margin: 0;

		text-transform: uppercase;
		text-align: right;

		color: #fff;
			
		font-family: 'Oswald', sans-serif;
		font-size: 16px;
		font-weight: 300;
		
		line-height: 60px;
		letter-spacing: 0px;

		cursor: pointer;
	}

		section.page-title .title p:after {
			content: "";

			width: 11px;
			height: 5px;

			display: inline-block;

			padding: 0;
			margin: 0 0 5px 10px;

			background: url('../images/icon-arrow_page.png');
			background-size: 11px;
			background-position: center;
			background-repeat: no-repeat;
		}

			






































/********************************************************/
/*			TEMPLATE PAGE DESCRIPTION CONTENT			*/
/********************************************************/
section.page-description-content { 
	width: 100%;
	height: 0px;
	
	padding: 0;
	margin: 0;
	
	display: block;
	position: absolute;
	
	z-index: 1;
	overflow: hidden;
	
	background-color: #000;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
	        transition: all 0.2s ease-in-out;
}

section.page-description-content.show {
	height: 238px;
}

	section.page-description-content .title {
		width: 100%;
		height: 228px;

		display: block;
		position: relative;
	}


		section.page-description-content .title h2 {
			width: 100%;
			height: auto;

			display: block;

			padding: 0;
			margin: 0;

			text-align: left;
			text-transform: uppercase;

			color: #fff;
			
			font-family: 'Oswald', sans-serif;
			font-size: 34px;
			font-weight: normal;
			
			line-height: 43px;
			letter-spacing: 1px;
		}

	section.page-description-content article {
		width: 100%;
		height: 228px;

		display: block;
		float: left;

		padding: 0;
		margin: 0 0 10px 0;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	section.page-description-content .one .swiper-slide { width: 100%; }
	section.page-description-content .two .swiper-slide { width: calc(100%/2); }
	section.page-description-content .swiper-slide { width: calc(100%/3); height: 238px; }

		section.page-description-content article header {
			width: 100%;
			height: 228px;

			display: block;
			position: relative;
			float: left;

			padding: 0;
			margin: 0;
		}

		section.page-description-content article:nth-child(odd) header,
		section.page-description-content .swiper-slide:nth-child(odd) article header { 
			background-color: rgba(0,160,174,0.8); 
		}

		section.page-description-content article:nth-child(even) header,
		section.page-description-content .swiper-slide:nth-child(even) article header { 
			background-color: rgba(224,185,65,0.8); 
		}
			section.page-description-content article header span {
				width: 100%;
				height: auto;

				display: block;

				padding: 0 40px;
				margin: 0;

				text-align: center;
				text-transform: uppercase;

				color: #fff;
			
				font-family: 'Open Sans', sans-serif;
				font-size: 12px;
				font-weight: normal;
				
				line-height: normal;
				letter-spacing: normal;
			}

			section.page-description-content article header h2 {
				width: 100%;
				height: auto;

				display: block;

				padding: 0 40px;
				margin: 0;

				text-align: center;
				text-transform: uppercase;

				color: #fff;
			
				font-family: 'Oswald', sans-serif;
				font-size: 28px;
				font-weight: normal;
				
				line-height: 35px;
				letter-spacing: 1px;
			}

	section.page-description-content .swiper-button-prev,
	section.page-description-content .swiper-button-next {
		width: 18px;
		height: calc(100% - 10px);

		padding: 0;
		margin: 0;

		top: 0;

		background-size: 18px;
		background-position: center;
		background-repeat: no-repeat;
	}

	section.page-description-content .swiper-button-prev { 
		background-image: url('../images/icon-carousel_arrow_left.png'); 
	}
	
	section.page-description-content .swiper-button-next { 
		right: -43px;
		background-image: url('../images/icon-carousel_arrow_right.png'); 
	}
	
	section.page-description-content .swiper-pagination .swiper-pagination-bullet { background-color: #8f8f8f; }
	section.page-description-content .swiper-pagination .swiper-pagination-bullet-active { background-color: #ffffff; }

@media (min-width: 992px) {
	section.page-description-content .swiper-button-prev { left: -284px; }
}

@media (min-width: 1200px) {
	section.page-description-content .swiper-button-prev { left: -334px; }
}











































/****************************************/
/*			TEMPLATE PAGE HERO			*/
/****************************************/
section.page-hero { padding: 0 0 90px 0; }

	section.page-hero:before {
		content: "";

		width: 1px;
		height: 30px;

		padding: 0;
		margin: 0 auto 30px auto;

		display: block;

		background-color: #000;
	}

	section.page-hero figure {
		width: calc(100% + 30px);
		height: 380px;

		overflow: hidden;
	}

		section.page-hero figure img { height: 100% }

	section.page-hero .page-hero-content {
		width: calc(100% + 30px);
		height: 380px;
		margin-left: -30px;
	}

		.page-hero-content .vCenter {
			padding: 53px 50px 48px 50px;
			background-color: rgba(0,0,0,0.8);
		}

			section.page-hero .page-hero-content header {
				width: 100%;
				display: block;
				
				padding: 0;
				margin: 0;
				
				text-transform: uppercase;
				text-align: left;
				
				color: #fff;
				
				font-family: 'Oswald', sans-serif;
				font-size: 34px;
				font-weight: 600;
				
				line-height: 44px;
				letter-spacing: 2px;
			}

				section.page-hero .page-hero-content header:after {
					content: "";
					
					width: 20px;
					height: 3px;
					
					display: block;
					
					padding: 0;
					margin: 23px 0 24px 0;
					
					background-color: #fff;
				}

			section.page-hero .page-hero-content p {
				width: 100%;
				display: block;
				
				padding: 0;
				margin: 0;
				
				text-align: left;
				color: #fff;
				
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				font-weight: normal;
				
				line-height: 24px;
				letter-spacing: normal;
			}








































/****************************************/
/*			LANDING PAGE HERO			*/
/****************************************/
section.landing-hero { 
	height: 550px; 
	position: relative;
}
	
	section.landing-hero .carousel-hero { height: inherit; }

		section.landing-hero .carousel-hero figure {
			width: 100%;
			height: 100%;

			overflow: hidden;
			position: absolute;

			z-index: 1;

			top: 0;
			left: 0;

			overflow: hidden;

			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	
	section.landing-hero figure.pattern {
		width: 50%;
		height: inherit;
		
		padding: 0;
		margin: 0;

		display: block;
		position: absolute;

		top: 0;
		z-index: 1;
	}
		section.landing-hero figure.pattern span {
			width: 100%;
			height: 100%;

			position: absolute;

			top: 0;
			left: 0;

			background-color: rgba(0,0,0,0.6);
		}

			section.landing-hero figure.pattern span.one {
				left: -105px;
				-webkit-transform: skewX(21deg);
				    -ms-transform: skewX(21deg);
				        transform: skewX(21deg);

				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(231,56,39,0) 0%, rgba(0,0,0,1) 100%);
				background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(231,56,39,0)), color-stop(100%, rgba(0,0,0,1)));
				background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(231,56,39,0) 0%, rgba(0,0,0,1) 100%);
				background: -o-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(231,56,39,0) 0%, rgba(0,0,0,1) 100%);
				background: -ms-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(231,56,39,0) 0%, rgba(0,0,0,1) 100%);
				background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(231,56,39,0) 0%, rgba(0,0,0,1) 100%);
				
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=1 );
			}

			section.landing-hero figure.pattern span.two {
				left: -310px;
				-webkit-transform: skewX(-21deg);
				    -ms-transform: skewX(-21deg);
				        transform: skewX(-21deg);
			}
	
	section.landing-hero .carousel-hero-content {
		width: 30%;
		height: auto;
		
		top: 50%;
		left: 10%;

		display: block;
		position: absolute;

		z-index: 2;

		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		        transform: translateY(-50%);
	}

	section.landing-hero .carousel-hero-content .swiper-slide { opacity: 0 !important; }
	section.landing-hero .carousel-hero-content .swiper-slide-active { opacity: 1 !important; }

		section.landing-hero .carousel-hero-content .hero_content {
			width: 100%;
			height: auto;
			position: relative;

			-webkit-transition: all 0.3s ease-in-out;
			   -moz-transition: all 0.3s ease-in-out;
			     -o-transition: all 0.3s ease-in-out;
			        transition: all 0.3s ease-in-out;
		}
			section.landing-hero .carousel-hero-content .hero_content span {
				width: 100%;

				display: block;

				padding: 0;
				margin: 0;

				text-transform: uppercase;
				text-align: left;

				color: #fff;

				font-family: 'Open Sans', sans-serif;
				font-size: 11px;
				font-weight: 600;

				line-height: 11px;
				letter-spacing: 1.5px;
			}

			section.landing-hero .carousel-hero-content .hero_content header {
				width: 100%;

				display: block;

				padding: 0;
				margin: 30px 0 0 0;

				text-transform: uppercase;
				text-align: left;

				color: #fff;

				font-family: 'Oswald', sans-serif;
				font-size: 34px;
				font-weight: normal;

				line-height: 44px;
				letter-spacing: 2px;
			}

	section.landing-hero .swiper-pagination {
		position: relative;
		text-align: left;
		bottom: 0px;
	}








































/********************************************/
/*			LANDING PAGE TRENDING			*/
/********************************************/
.swiper-pagination.pagination-trending {
	position: relative;
	bottom: initial !important;
	left: initial !important;
}

section.trending { padding: 0 0 95px 0; }

	section.trending span.diagonal {
		width: 100%;
		height: 90px;
		
		display: block;
		position: relative;

		padding: 0;
		margin: -45px 0 30px 0;

		z-index: 2;

		background-color: #fff;

		-webkit-transform: skewY(-2deg);
		    -ms-transform: skewY(-2deg);
		        transform: skewY(-2deg);
	}

		section.trending span.diagonal:after {
			content: "";

			width: 1px;
			height: 100%;
			
			display: block;
			padding: 0;
			margin: 0 auto;

			background-color: #000;

			-webkit-transform: skewY(2deg);
			    -ms-transform: skewY(2deg);
			        transform: skewY(2deg);
		}


	section.trending .title {
		position: relative;
		z-index: 2;
	}

		section.trending .title header {
			width: 100%;

			display: block;
			position: relative;

			padding: 0;
			margin: 0;

			text-transform: uppercase;
			text-align: center;

			color: #000;

			font-family: 'Oswald', sans-serif;
			font-size: 44px;
			font-weight: bold;

			line-height: 39px;
			letter-spacing: 0px;
		}


	section.trending article { float: left; }
		section.trending article.one { margin-top: -13px; }
		section.trending article.two { margin-top: -72px; }
		section.trending article.three { margin-top: 30px; }

		section.trending article header {
			float: left;
			padding: 30px 20px;
		}

		section.trending article.one header {
			padding: 0 40px;
			height: calc(418px - 72px);
		}

			section.trending article.one header .one_copy {
				width: 100%;
				min-height: 85px;

				display: block;
			}

			section.trending article header span { 
				float: left;
				text-align: left;
				text-transform: uppercase;
				color: #333; 

				-webkit-transition: all 0.2s ease-in-out;
				   -moz-transition: all 0.2s ease-in-out;
				     -o-transition: all 0.2s ease-in-out;
				        transition: all 0.2s ease-in-out;
			}

				section.trending article:hover header span { color: #0bc3ce; }

			section.trending article header span:nth-child(1) {
				width: 65px;

				padding: 0;
				margin: 0 10px 0 0;

				font-family: 'Oswald', sans-serif;
				font-size: 65px;
				font-weight: 300;
				
				line-height: 52px;
				letter-spacing: normal;
			}

			section.trending article header span:nth-child(2) {
				width: calc(100% - 75px);

				padding: 0;
				margin: 0;

				font-family: 'Open Sans', sans-serif;
				font-size: 13px;
				font-weight: normal;
				
				line-height: 10px;
				letter-spacing: 2px;
			}

			section.trending article header span:nth-child(3) {
				width: calc(100% - 75px);

				padding: 0;
				margin: 11px 0 0 0;

				font-family: 'Oswald', sans-serif;
				font-size: 24px;
				font-weight: normal;
				
				line-height: 32px;
				letter-spacing: 0px;
			}

			section.trending article.one header span:nth-child(1) { width: 51px; }
			section.trending article.one header span:nth-child(2) { width: calc(100% - 61px); }
			section.trending article.one header span:nth-child(3) { width: calc(100% - 61px); }

		

		section.trending article figure { position: relative; }

			section.trending article figure img {
				width: 100%;
				position: relative;
			}

			section.trending article figure span {
				width: 42px;
				height: 26px;

				position: absolute;

				background-image: url('../images/icon-trending_arrow1.png'); 
				background-size: 32px;
				background-position: center;
				background-repeat: no-repeat; 
			}

			section.trending article.one figure span {
				width: 26px;
				height: calc(100% - 75px);

				left: -5px;
				top: 0px;

				background-image: url('../images/icon-trending_arrow2.png'); 
				background-size: 16px;
			}

			section.trending article.two figure span,
			section.trending article.three figure span {
				bottom: -5px;
				left: 15px;	
			}

				section.trending article.one figure span:after {
					content: "";

					width: 8px;
					height: 13px;

					display: block;

					position: absolute;
					bottom: calc(50% - 6.5px);
					left: -5px;

					background-image: url('../images/icon-trending_arrow2_black.png'); 
					background-size: 8px;
					background-position: center;
					background-repeat: no-repeat; 
				}

				section.trending article.one:hover figure span:after {
					-webkit-animation: animateLeft 0.6s infinite linear;
					   -moz-animation: animateLeft 0.6s infinite linear;
					     -o-animation: animateLeft 0.6s infinite linear;
					        animation: animateLeft 0.6s infinite linear;
				}

				@keyframes animateLeft {
					0% { left: -5px; }
					50% { left: 0px; }
					100% { left: -5px; }
				}

				@-moz-keyframes animateLeft {
					0% { left: -5px; }
					50% { left: 0px; }
					100% { left: -5px; }
				}

				@-webkit-keyframes animateLeft {
					0% { left: -5px; }
					50% { left: 0px; }
					100% { left: -5px; }
				}

				@-o-keyframes animateLeft {
					0% { left: -5px; }
					50% { left: 0px; }
					100% { left: -5px; }
				}

				
				section.trending article figure span:after {
					content: "";

					width: 13px;
					height: 8px;

					display: block;

					position: absolute;
					bottom: -5px;
					left: 14.5px;

					background-image: url('../images/icon-trending_arrow1_black.png'); 
					background-size: 13px;
					background-position: center;
					background-repeat: no-repeat; 

					-webkit-transition: all 0.2s ease-in-out;
					   -moz-transition: all 0.2s ease-in-out;
					     -o-transition: all 0.2s ease-in-out;
					        transition: all 0.2s ease-in-out;
				}

					section.trending article:hover figure span:after {
						-webkit-animation: animateUp 0.6s infinite linear;
						   -moz-animation: animateUp 0.6s infinite linear;
						     -o-animation: animateUp 0.6s infinite linear;
						        animation: animateUp 0.6s infinite linear;
					}

					@keyframes animateUp {
						0% { bottom: -5px; }
						50% { bottom: 0px; }
						100% { bottom: -5px; }
					}

					@-moz-keyframes animateUp {
						0% { bottom: -5px; }
						50% { bottom: 0px; }
						100% { bottom: -5px; }
					}

					@-webkit-keyframes animateUp {
						0% { bottom: -5px; }
						50% { bottom: 0px; }
						100% { bottom: -5px; }
					}

					@-o-keyframes animateUp {
						0% { bottom: -5px; }
						50% { bottom: 0px; }
						100% { bottom: -5px; }
					}


	section.trending aside {
		width: 100%;
		display: block;
		float: left;
	}

		section.trending aside ul {
			width: 100%;
			display: block;
			float: left;

			padding: 0;
			margin: 0;
		}

			section.trending aside ul li {
				width: 100%;
				float: left;

				padding: 0;
				margin: 0
			}

				section.trending aside ul li:after {
					content: "";
					width: 100%;
					height: 3px;

					padding: 0;
					margin: 15px 0;

					display: block;
					float: left;
					position: relative;	

					background-image: url('../images/aside_border.png');
					background-position: left;
					background-repeat: repeat;
					background-size: 13px;
				}

				section.trending aside ul li:first-child:after { display: none; }
				section.trending aside ul li:last-child:after { margin: 20px 0 0 0; }

					section.trending aside ul li header.title {
						width: 100%;

						display: block;
						position: relative;

						padding: 0;
						margin: 0 0 14px 0;

						text-transform: uppercase;
						text-align: left;

						color: #000;

						font-family: 'Oswald', sans-serif;
						font-size: 16px;
						font-weight: bold;

						line-height: 16px;
						letter-spacing: 0.3px;
					}

						section.trending aside ul li header.title:before {
							content: "";

							width: 1px;
							height: 30px;

							margin-bottom: 14px;

							display: block;
							position: relative;

							background-color: #000;
						}

					section.trending aside ul li article,
					section.related aside ul li article {
						width: 100%;
						display: block;
						position: relative;
					}

						section.related { padding-bottom: 54px; }

						section.trending aside ul li article span,
						section.related aside ul li article span {
							width: 100%;

							display: block;
							position: relative;

							padding: 0 70px 0 0;
							margin: 0;

							text-transform: uppercase;
							text-align: left;

							color: #000;

							font-family: 'Open Sans', sans-serif;
							font-size: 13px;
							font-weight: normal;

							line-height: normal;
							letter-spacing: 0.3px;
						}

						section.related aside ul li article span {
							height: auto;
							
							border-radius: initial;

							top: initial;
							right: initial;

							overflow: auto;
							
						}

						section.trending aside ul li article header,
						section.related aside ul li article header {
							width: 100%;

							display: block;
							position: relative;

							padding: 0 70px 0 0;
							margin: 2px 0 5px 0;

							text-transform: none;
							text-align: left;

							color: #000;

							font-family: 'Oswald', sans-serif;
							font-size: 18px;
							font-weight: normal;

							line-height: 24px;
							letter-spacing: 0.3px;
						}

							section.trending aside ul li article header a,
							section.related aside ul li article header a {
								-webkit-transition: all 0.2s ease-in-out;
								   -moz-transition: all 0.2s ease-in-out;
								     -o-transition: all 0.2s ease-in-out;
								        transition: all 0.2s ease-in-out;
							}

							section.trending aside ul li article:hover header,
							section.trending aside ul li article header a:hover,
							section.related aside ul li article:hover header,
							section.related aside ul li article header a:hover  {
								color: #0bc3ce;
							}

						section.trending aside ul li article time,
						section.related aside ul li article time {
							width: 100%;

							position: relative;

							padding: 0 70px 0 0;
							margin: 0;

							text-transform: uppercase;
							text-align: left;

							color: #999999;

							font-family: 'Open Sans', sans-serif;
							font-size: 11px;
							font-weight: normal;

							line-height: 11px;
							letter-spacing: 2px;
						}

						section.trending aside ul li article figure,
						section.related aside ul li article figure {
							width: 50px;
							height: 50px;

							border-radius: 50%;

							display: block;
							position: absolute;

							top: 50%;
							right: 0;

							-webkit-transform: translateY(-50%);
							    -ms-transform: translateY(-50%);
							        transform: translateY(-50%);

							overflow: hidden;
						}

							section.trending aside ul li article figure img,
							section.related aside ul li article figure img { height: 100%; }








































/********************************/
/*			CATEGORIES			*/
/********************************/
section.categories {  }

	section.categories .title:before {
		width: calc(100% - 30px);
		height: 1px;
		
		float: left;

		padding: 0;
		margin: 0 15px;

		background-color: #e5e5e5;
	}

		section.categories .title h2 {
			width: 100%;
			float: left;

			padding: 0;
			margin: 22px 0;

			text-transform: uppercase;
			text-align: left;

			color: #000;

			font-family: 'Oswald', sans-serif;
			font-size: 28px;
			font-weight: bold;
			
			line-height: normal;
			letter-spacing: 3px;
		}

			section.categories .title h2 a {
				width: auto;
				float: left;

				-webkit-transition: all 0.2s ease-in-out;
				   -moz-transition: all 0.2s ease-in-out;
				     -o-transition: all 0.2s ease-in-out;
				        transition: all 0.2s ease-in-out;
			}

			section.categories .title h2 a:hover { color: #0bc3ce; }

		section.categories .title p,
		section.categories .title_resp p {
			width: 100%;
			display: block;

			padding: 0;
			margin: 34px 0;

			text-transform: uppercase;
			text-align: right;

			color: #f4b941;

			font-family: 'Open Sans', sans-serif;
			font-size: 12px;
			font-weight: bold;
			
			line-height: normal;
			letter-spacing: 2px;
		}

			section.categories .title p a:after,
			section.categories .title_resp p a:after {
				content: "";

				width: 9px;
				height: 14px; 

				padding: 0;
				margin: 2px 0 0 10px;

				float: right;

				background: url("../images/icon-arrow_viewmore_.png");
				background-repeat: no-repeat;
				background-size: contain;

				-webkit-transition: all 0.2s ease-in-out;
				   -moz-transition: all 0.2s ease-in-out;
				     -o-transition: all 0.2s ease-in-out;
				        transition: all 0.2s ease-in-out;
			}

			section.categories .title p a:hover:after { margin: 2px 0 0 5px; }

		section.categories .title_resp p {
			text-align: center;
			margin: 11px 0 46px 0;
		}

	section.categories .content { padding-bottom: 12px; }
	section.categories .content.landing { padding-bottom: 70px; }

	section.categories .content article {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}

		.content article figure {
			width: 100%;
			display: block;

			padding: 0;
			margin: 0 0 15px 0;

			position: relative;
		}

			.content article figure img {
				width: 100%;
				position: relative;
				margin: 0 0 10px 0;
			}

			.content article figure span {
				width: auto;

				padding: 0;
				margin: 0;

				position: absolute;

				bottom: 0;
				left: 10px;

				z-index: 2;

				text-transform: uppercase;
				text-align: left;

				color: #fff;

				font-family: 'Open Sans', sans-serif;
				font-size: 10px;
				font-weight: bold;

				line-height: 8px;
				letter-spacing: 1px;

				opacity: 0.9;
			}

				.content article figure span a { padding: 10px 15px; }

				.content article figure.article span { background-color: #3069ce; }
				.content article figure.video span { background-color: #b846cc; }
				.content article figure.infographic span { background-color: #f4b941; }
				.content article figure.gallery span { background-color: #b5393e; }

					.content article figure.video span.overlay { 							
						width: 100%;
						height: calc(100% - 10px);

						position: absolute;

						top: 0;
						left: 0;

						z-index: 1;

						background-image: url('../images/icon-video_btn.png');
						background-position: center;
						background-repeat: no-repeat;
						background-size: 105px;

						background-color: rgba(34,34,34,0.5);
					}

		.content article time {
			width: auto;

			display: block;

			padding: 0;
			margin: 0 0 0 10px;

			text-transform: uppercase;
			text-align: left;

			color: #999999;

			font-family: 'Open Sans', sans-serif;
			font-size: 12px;
			font-weight: normal;

			line-height: normal;
			letter-spacing: 2px;
		}

		.content article header {
			width: auto;

			display: block;

			padding: 0;
			margin: 7px 10px;

			text-transform: uppercase;
			text-align: left;

			color: #000;

			font-family: 'Oswald', sans-serif;
			font-size: 18px;
			font-weight: normal;

			line-height: 24px;
			letter-spacing: 0.3px;

			-webkit-transition: all 0.2s ease-in-out;
			   -moz-transition: all 0.2s ease-in-out;
			     -o-transition: all 0.2s ease-in-out;
			        transition: all 0.2s ease-in-out;
		}

		.content article:hover header { color: #0bc3ce; }

		.content article p {
			width: auto;

			display: block;

			padding: 0;
			margin: 0 0 0 10px;

			text-align: left;

			color: #777777;

			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			font-weight: normal;

			line-height: 20px;
			letter-spacing: normal;
		}

		.content aside {
			width: 100%;
			display: block;
		}

			.content aside ul {
				width: 100%;
				display: block;

				padding: 0;
				margin: 0;
			}

				.content aside ul li {
					width: 100%;
					display: block;

					padding: 0;
					margin: 0
				}

					.content aside ul li article {
						width: 100%;
						display: block;
						position: relative;
					}

						.content aside ul li article:after,
						.content aside ul li.duplicated-second-article article:before {
							content: "";
							width: 100%;
							height: 3px;

							padding: 0;
							margin: 20px 0 14px 0;

							display: block;
							position: relative;	

							background-image: url('../images/aside_border.png');
							background-position: left;
							background-repeat: repeat;
							background-size: 13px;
						}

						.content aside ul li.duplicated-second-article article:before { margin: 0 0 14px 0; }
						.content aside ul li:last-child article:after { margin: 20px 0 0 0; }

						section.related .content aside ul li:last-child article:after {
							display: none;
						}

						.content aside ul li article header {
							width: auto;

							display: block;
							position: relative;

							padding: 0 70px 0 0;
							margin: 1px 0 8px 0;

							text-transform: none;
							text-align: left;

							color: #000;

							font-family: 'Oswald', sans-serif;
							font-size: 18px;
							font-weight: normal;

							line-height: 27px;
							letter-spacing: 0.3px;

							-webkit-transition: all 0.2s ease-in-out;
							   -moz-transition: all 0.2s ease-in-out;
							     -o-transition: all 0.2s ease-in-out;
							        transition: all 0.2s ease-in-out;
						}

							.content aside ul li article a:hover header { color: #0bc3ce; -}

						.content aside ul li article time {
							width: auto;

							display: block;
							position: relative;

							padding: 0;
							margin: 0;

							text-transform: uppercase;
							text-align: left;

							color: #999999;

							font-family: 'Open Sans', sans-serif;
							font-size: 11px;
							font-weight: normal;

							line-height: 9px;
							letter-spacing: 2px;
						}

						.content aside ul li article span {
							width: 50px;
							height: 50px;

							border-radius: 50%;

							display: block;
							position: absolute;

							top: 0;
							right: 0;

							overflow: hidden;
						}

							.content aside ul li.duplicated-second-article article span { top: 17px; }

							.content aside ul li article span img { height: 100%; }








































/********************************************/
/*			CATEGORIES LOAD MORE			*/
/********************************************/
section.loadmore { padding: 4px 0 90px 0; } 

	section.loadmore p {
		width: auto;

		float: left;
		position: relative;

		padding: 0;
		margin: 0;

		left: 50%;

		border: 1px solid #f4b941;
		border-radius: 22px;

		text-transform: uppercase;
		text-align: center;

		color: #f4b941;

		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: normal;

		line-height: 14px;
		letter-spacing: normal;

		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}

		section.loadmore p a {
			width: auto;
			padding: 16px 24px;
			display: inline-block;
		}

		section.loadmore p span:first-child,
		section.loadmore p span:last-child {
			width: 9px;
			height: 14px;

			margin: 0 5px;

			display: inline-block;

			background-size: 9px;
			background-position: center;
			background-repeat: no-repeat;
		}

		section.loadmore p span:first-child { background-image: url('../images/icon-loadmore_left.png');  }
		section.loadmore p span:last-child { background-image: url('../images/icon-loadmore_right.png');  }








































/****************************************/
/*			CATEGORIES DIVIDER			*/
/****************************************/
section.divider { padding-bottom: 90px; }

	section.divider .dotted {
		background-image: url('../images/bg_divider.png');
		background-repeat: repeat;
		background-size: 16px;
		background-position: center;
	}

	section.divider .qoutes-text,
	section.divider .qoutes-video,
	section.divider .qoutes-image {
		padding: 50px 0;
		display: none;
	}

	section.divider .qoutes-text.toggle,
	section.divider .qoutes-video.toggle,
	section.divider .qoutes-image.toggle { display: block; }

		section.divider .qoutes-text p {
			width: 100%;
			min-height: 104px;

			padding: 0;
			margin: 0;

			position: relative;
			text-align: center;

			color: #000;

			font-family: 'Lobster', cursive;
			font-size: 58px;
			font-weight: normal;

			line-height: 52px;
			letter-spacing: normal;
		}

			section.divider .qoutes-text p span:first-child {
				width: 50px;
				height: 50px;
				border-radius: 50%;

				position: absolute;

				top: 50%;
				left: 0;

				padding: 2px 0 0 9px;
				margin: 0;

				text-align: left;

				color: #fff;

				font-family: 'Lobster', cursive;
				font-size: 60px;
				font-weight: normal;

				line-height: normal;
				letter-spacing: normal;

				background-color: #333;

				-webkit-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				        transform: translateY(-50%);
			}

			section.divider .qoutes-text p span:last-child {
				width: 50px;
				height: 50px;
				border-radius: 50%;

				position: absolute;

				top: 50%;
				right: 0;

				padding: 2px 0 0 10px;
				margin: 0;

				text-align: left;

				color: #fff;

				font-family: 'Lobster', cursive;
				font-size: 60px;
				font-weight: normal;

				line-height: normal;
				letter-spacing: normal;

				background-color: #333;

				-webkit-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				        transform: translateY(-50%);
			}

			section.divider .qoutes-text p span.text {
				width: calc(100% - 160px);
				
				position: absolute;
				top: 50%;
				left: 80px;

				-webkit-transform: translateY(-50%);
				    -ms-transform: translateY(-50%);
				        transform: translateY(-50%);
			}

		section.divider .qoutes-video figure,
		section.divider .qoutes-image figure {
			width: 100%;
			display: block;
			position: relative;
		}

			section.divider .qoutes-video figure img,
			section.divider .qoutes-image figure img { width: 100%; }

			section.divider .qoutes-video figure span {
				width: 100%;
				height: 100%;

				position: absolute;

				top: 0;
				left: 0;

				z-index: 1;

				background-image: url('../images/icon-video_btn.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 105px;

				background-color: rgba(34,34,34,0.5);
			}

			section.divider .qoutes-image p.title,
			section.divider .qoutes-video p.title {
				width: 100%;
				min-height: 271px;

				padding: 0;
				margin: 0;

				position: relative;
				text-align: left;

				color: #000;

				font-family: 'Lobster', cursive;
				font-size: 58px;
				font-weight: normal;

				line-height: 58px;
				letter-spacing: normal;
			}

				section.divider .qoutes-image p.title span,
				section.divider .qoutes-video p.title span {
					position: absolute;

					top: 50%;
					left: 0;

					-webkit-transform: translateY(-50%);
					    -ms-transform: translateY(-50%);
					        transform: translateY(-50%);
				}